@model Category
<input type="hidden" asp-for="CategoryId" />
<h1>@Model.CategoryName</h1>
<h3>@Model.Description</h3>
<a asp-action="Create" asp-controller="Category" class="btn btn-info">Yeni Kategori</a>
<a asp-action="Delete" asp-controller="Category" asp-route-categoryId=@Model.CategoryId class="btn btn-danger">Kategoriyi Sil</a>

<label>Ürün Ekle</label>
<input type="checkbox" class="form-check-inline" id="cb-urunekle" />
<br />
<br />
<form id="frm-add" style="display: none">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" id="in-urunadi" placeholder="Ürün Adı" />
        </div>
        <div class="col">
            <input type="number" min="0" max="99999" class="form-control" id="in-fiyat" placeholder="Fiyatı" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="submit" class="btn btn-success form-control" id="btn-urunekle" value="Ürün Ekle" />
        </div>
    </div>
</form>
<br />

<div class="row">
    <div class="col-9">
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>Ürün Adı</th>
                    <th>Fiyat</th>
                    <th>Kategori Adı</th>
                    <th>Siparişleri</th>
                    <th>Hacim</th>
                    <th>Detay</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody id="tbl-body">
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.UnitPrice</td>
                        <td>@item.Category.CategoryName</td>
                        <td>@item.OrderDetails.Count</td>
                        <td>@item.OrderDetails.Sum(x=> x.UnitPrice*x.Quantity*(decimal)(1-x.Discount))</td>
                        <td>
                            <a class="btn btn-block btn-info" asp-controller="Product" asp-action="Detail" asp-route-id="@item.ProductId">Detay</a>
                        </td>
                        <td>
                            <input type="button" class="btn btn-danger btn-delete" value="Sil" data-toggle="modal" data-target="#confirm-delete" data-id="@item.ProductId" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Silme Onayı</h4>
            </div>

            <div class="modal-body">
                <p>Ürün silinecektir. Bu işlemin geri dönüşü yoktur!</p>
                <p>Emin misiniz?</p>
                <p class="debug-url"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                <a class="btn btn-danger btn-ok">Sil</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script>
    var productId =0;
    $('.btn-delete').click(function(){
        productId = $(this).attr("data-id");
    });
    $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').on('click', urunSil);
    });

    function urunSil(){
        console.log(productId);
        $.ajax({
                "headers": {
                    "Content-Type": "application/json"
                },
                url: '@Url.Action("Delete","ProductApi")'+'/'+productId,
                type: "POST",
                dataType: "json",
                success: function(response) {
                    //alert(response.message);
                    console.log(response);
                },
                error: function (request, status, error) {
                    console.log(request.responseText);
                }
        });
    }


    $("#cb-urunekle").click(function(){
        $("#frm-add").toggle(500);
    });
    $("#frm-add").submit(function(e){
        e.preventDefault();

        var model = {
            productName : $("#in-urunadi").val(),
            unitPrice : $("#in-fiyat").val(),
            categoryId: $("#CategoryId").val()
        };
        $.ajax({
                "headers": {
                    "Content-Type": "application/json"
                },
                url: '@Url.Action("Add","ProductApi")',
                type: "POST",
                data: JSON.stringify(model),
                dataType: "json",
                success: function(response) {
                    //alert(response.message);
                    console.log(response);
                    var model = response.model;

                    var tr = document.createElement("tr");
                    var td1 = document.createElement("td");
                    var td2 = document.createElement("td");
                    var td3 = document.createElement("td");
                    var td4 = document.createElement("td");
                    var td5 = document.createElement("td");
                    var td6 = document.createElement("td");
                    //var alink = document.createElement("a");

                    $(td1).html(model.productName);
                    $(td2).html(model.unitPrice);
                    $(td3).html("@Model.CategoryName");
                    $(td4).html("0");
                    $(td5).html("0");
                    var detailUrl = '@Url.Action("Detail", "Product")';
                    $("<a></a>")
                    .attr("href", `${detailUrl}/${model.productId}`)
                    .addClass("btn btn-block btn-info")
                    .html("Detay").appendTo(td6);
                    //$(td6).append(alink[0]);

                    $(tr).append(td1).append(td2).append(td3).append(td4).append(td5).append(td6).appendTo("#tbl-body");

                },
                error: function (request, status, error) {
                    console.log(request.responseText);
                }
        });
    });
    //$(".product-sil").click(function(e){
    //    e.preventDefault();
    //    var model = {
    //        productId : ("#productIdd").val()
    //    };
    //    $.ajax({
    //            "headers": {
    //                "Content-Type": "application/json"
    //            },
    //            url: 'Url.Action("Delete","ProductApi")',
    //            type: "POST",
    //            data: JSON.stringify(model),
    //            dataType: "json",
    //            success: function(response) {
    //                console.log(response);
    //                var model = response.model;
    //            },
    //            error: function (request, status, error) {
    //                console.log(request.responseText);
    //            }
    //    });
    //});

    /*$('#confirm-delete').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', 'Url.Action("Delete","ProductApi",new {id=Model.ProductId})');
        });*/
</script>
}