@model List<Category>
@{
    var silinenMesaj = @TempData["silinen_kategori"]?.ToString();
}
@if (!string.IsNullOrEmpty(silinenMesaj))
{
    <h3 class="text-danger">@silinenMesaj isimli kategori silinmiştir.</h3>
}
<div class="row">
    <div class="col-9">
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>Kategori Adı</th>
                    <th>Açıklama</th>
                    <th>Ürün Sayısı</th>
                    <th>Detay</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.CategoryName</td>
                        <td>@item.Description</td>
                        <td>@item.Products.Count</td>
                        <td>
                            <a class="btn btn-block btn-info" asp-controller="Category" asp-action="Detail" asp-route-id="@item.CategoryId">Detay</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>