@model List<Product>


<div class="row">
    <div class="col-9">
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>Ürün Adı</th>
                    <th>Ürün Fiyat</th>
                    <th>Kategory Adı</th>
                    <th>Stoktaki ürün sayısı</th>
                    <th>Detay</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.UnitPrice</td>
                        <td>@item.Category.CategoryName</td>
                        <td>@item.UnitsInStock</td>
                        <td>
                            <a class="btn btn-block btn-info" asp-controller="Product" asp-action="Detail" asp-route-id="@item.ProductId">Detay</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>